
/**
 * Add more spacing to nav inside the expanded navbar.
 */
.navbar-collapse .navbar-nav {
  margin-top: 13px;
}

.navbar-brand img {
  width: 175px;
}

/**
 * Animate the navbar on scroll.
 */
.scrolled {
  transition: font-size 0.5s;
  font-size: 95%;
  background-color: var(--bs-light);
  opacity: 0.95;
}

.scrolled .navbar-brand {
  transition: font-size 0.5s;
  font-size: 1.25rem;
}

.scrolled .navbar-brand img {
  max-width: 100px;
  max-height: 40px;
  transition: max-height 0.5s;
}

/**
 * Adjust spacing when toolbar is open.
 */
.toolbar-horizontal.toolbar-fixed .sticky-top,
.toolbar-tray-open.toolbar-horizontal.toolbar-fixed .scrolled,
.toolbar-vertical .scrolled {
  top: 39px;
  z-index: 500;
}

.toolbar-tray-open.toolbar-horizontal.toolbar-fixed .sticky-top,
.toolbar-tray-open.toolbar-horizontal.toolbar-fixed .scrolled {
  top: 79px;
}

.toolbar-vertical .scrolled {
  left: 0;
  top: 39px;
}

@media (max-width: 609px) {
  .toolbar-tray-open.toolbar-vertical .sticky-top {
    margin-left: 15rem;
  }
}

/**
 * Add a background color to the header on mobile.
 */
@media (max-width: 991px) {

  .sticky-top {
    background-color: var(--bs-dark);
    opacity: 0.95;
  }
}
